<div class="flex gap-4 items-center" style="margin-bottom: 1rem;">
    <img src="{{ b64Logo }}" style="width: 100px; height: fit-content; margin-right: 1rem;" />
    <div style="flex: 1">
        <h3>Grand Atma Hotel</h3>
        <p>Jl. Babarsari No. 43, Caturtunggal, Depok, Sleman</p>
        <p>Daerah Istimewa Yogyakarta 55281</p>
        <p>Telp. (0274) 487711</p>
    </div>
</div>